SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
LOGICC_API=
LOGIC_ENDPOINT_URL=
GATEWAY_API_MASTRA_KEY=
GATEWAY_API_URL=
APP_NAME=
MUAPI_API=
MESHI_AI_API=
GROK_API_KEY=
EARLY_ACCESS_ENABLED=false
EARLY_ACCESS_STORAGE_PATH=
